version: "3.9"

services:
  grafana:
    image: grafana/grafana:latest
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=SvaneveienNR1
      - GF_SERVER_ROOT_URL=http://grafana.local/
    volumes:
      - grafana-data:/var/lib/grafana
    networks:
      - overlay-observability
    deploy:
      replicas: 1

  prometheus:
    image: prom/prometheus:latest
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
      - "--storage.tsdb.path=/prometheus"
      - "--storage.tsdb.retention.time=15d"
    ports:
      - "9090:9090"
    volumes:
      # enkel config-fil, se neste punkt
      - /opt/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro
      - prometheus-data:/prometheus
    networks:
      - overlay-observability
    deploy:
      replicas: 1

networks:
  overlay-observability:
    external: true

volumes:
  grafana-data:
  prometheus-data:
